.masterCard{
    background-color: brown;
    width: 70%;
    height: 40%;
    margin: 0px auto;
}
.master{
    display: flex;
    height: 80%;
    justify-content: center;
    padding-top: 20px;
}
.master img{
    width: 20%;
    height: 50%;
}

.content{
    margin-left: 20px;
}